.gridCustom {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Default: 1 column */
  gap: 20px;
}

/* Small screen: 2 columns (640px - 1040px) */
@media (min-width: 639px) and (max-width: 1040px) {
  .gridCustom {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Medium and above: 5 columns (1040px and up) */
@media (min-width: 1040px) {
  .gridCustom {
    grid-template-columns: repeat(4, 1fr);
  }
}

