.in-stock{
    background-color: #E6F6E3;
}

.in-stock h1{
    color: #50C878;
    font-size: 12px;
}
.text-title{
    font-size: 32px;
    color: #282828;
}
.text-author{
    font-size: 12px;
    color: #999999;
}
.text-author-data{
    font-size: 14px;
    color: #282828;
}
.text-ratting{
    font-size: 14px;
    color: #000000;
}
.des-line{
    color: #E6E6E6;
    height: 1px;
}
.price-details{
    color: #50C878;
    font-size: 18px;
}
.description{
    color: #000000;
    font-size: 14px;
    line-height: 1.5;
}
.addCartButtons{
    background-color: #50C878;
    font-size: 14px;
}
.quantity{
  color: #000000;
  font-size: 14px;
}
.categoryText{
    color: #282828;
    font-size: 14px;
}
.categoryText span{
    color: #999999;
    font-size: 14px;
}

.social-icons {
  display: flex;
  gap: 16px; /* Space between icons */
  align-items: center;
}

.social-icons a {
  display: inline-block;
  line-height: 0; /* Fixes extra space below SVG */
}

.social-icons svg {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease;
}

.social-icons svg:hover {
  opacity: 0.8;
}

.text-author-title{
    font-size: 18px;
    color: #282828;
}
.RelatedProduct{
    font-size: 24px;
    color: #282828;
}
.button-view-all-product{
    background-color: #50C878;
}

/* Tablet (min-width: 640px) */
@media (min-width: 200px) and (max-width: 639px) {
  .sliderImgSize {
    height: 150px;
  }
.buttonPopular {
  font-size: 12px;
  padding: 4px 10px; /* top/bottom = 2px, left/right = 3px */
}
.cartButton{
    font-size: 10px;
    padding: 8px 2px;
  }
.pageHeightPY{
  padding: 28px 0px;
}
.pageHeightShopPY{
  padding: 0px 0px;

}
.shopTitle{
  padding-bottom: 30px;
}

}

@media (min-width: 200px) and (max-width: 639px) {
   .layoutFlexOne {
  display: flex;
  flex-direction: column;
}}

@media (min-width: 639px) and (max-width: 1040px) {
 .layoutFlexOne {
  display: flex;
  flex-direction: column;
}}


@media (min-width: 1040px) and (max-width: 1600px) {
  .sliderImgSize {
    height: 300px;
  }
}

@media (min-width: 1600px) and (max-width: 2200px) {
  .sliderImgSize {
    height: 600px;
  }
}


