.in-stock {
  background-color: #e6f6e3;
}

.in-stock h1 {
  color: #f01f7b;
  font-size: 12px;
}
.text-title {
  font-size: 32px;
  color: #282828;
}
.text-author {
  font-size: 12px;
  color: #999999;
}
.text-author-data {
  font-size: 14px;
  color: #282828;
}
.text-ratting {
  font-size: 14px;
  color: #000000;
}
.des-line {
  color: #e6e6e6;
  height: 1px;
}
.price-details {
  color: #f01f7b;
  font-size: 18px;
}
.description {
  color: #000000;
  font-size: 14px;
  line-height: 1.5;
}

.quantity {
  color: #000000;
  font-size: 14px;
}
.categoryText {
  color: #282828;
  font-size: 14px;
}
.categoryText span {
  color: #999999;
  font-size: 14px;
}

.social-icons {
  display: flex;
  gap: 16px; /* Space between icons */
  align-items: center;
}

.social-icons a {
  display: inline-block;
  line-height: 0; /* Fixes extra space below SVG */
}

.social-icons svg {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease;
}

.social-icons svg:hover {
  opacity: 0.8;
}

.text-author-title {
  font-size: 18px;
  color: #282828;
}
.RelatedProduct {
  font-size: 24px;
  color: #282828;
}
.button-view-all-product {
  background-color: #f01f7b;
}

/* Tablet (min-width: 640px) */
@media (min-width: 200px) and (max-width: 639px) {
  .sliderImgSize {
    height: 300px;
  }
  .txtAddToCart{
    font-size: 12px;
  }

  .addCartButtons {
  background-color: #f01f7b;
  font-size: 10px;
}
  .text-title {
  font-size: 18px;
}
  .buttonPopular {
    font-size: 12px;
    padding: 4px 10px; /* top/bottom = 2px, left/right = 3px */
  }
  .cartButton {
    font-size: 10px;
    padding: 8px 2px;
  }
  .pageHeightPY {
    padding: 28px 0px;
  }
  .pageHeightShopPY {
    padding: 0px 0px;
  }
  .shopTitle {
    padding-bottom: 30px;
  }
  .forWeb {
    display: none;
  }
  .layoutFlexOne {
    display: flex;
    flex-direction: column;
  }
  .textBread {
    font-size: 10px;
  }
}

@media (min-width: 639px) and (max-width: 1040px) {
  .layoutFlexOne {
    display: flex;
    flex-direction: column;
  }
  .forWeb {
    display: none;
  }
  .addCartButtons {
  background-color: #f01f7b;
  font-size: 12px;
}
  .txtAddToCart{
    font-size: 12px;
  }

}

@media (min-width: 1040px) and (max-width: 1600px) {

  .forMobile {
    display: none;
  }
  .addCartButtons {
  background-color: #f01f7b;
  font-size: 14px;
}
  .txtAddToCart{
    font-size: 14px;
  }

}

@media (min-width: 1600px) and (max-width: 2200px) {

  .forMobile {
    display: none;
  }
    .txtAddToCart{
    font-size: 14px;
  }

  .addCartButtons {
  background-color: #f01f7b;
  font-size: 14px;
}
}
